@mixin pseudo-sprite ($width, $height, $x, $y) {
    content: '';
    display: block;
    width: $width;
    height: $height;
    background: url("../images/main_sprite.png") $x $y;
}

@mixin heading2 {
    display: inline-block;
    color: #6b0b64;
    font-size: 70px;
    font-family: $headingFont;
    margin: 50px auto;
    background: linear-gradient(to bottom, #FF00A7, #78004e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    padding: 0 30px;

    @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        font-size: 60px;
        padding: 0 20px;
    }

    @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        font-size: 80px;
    }

    &::before {
        @include pseudo-sprite(250px, 59px, -10px, -511px);
        position: absolute;
        left: 0;
        top: 50%;
        @include translate(-100%, -50%);

        @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            @include pseudo-sprite(226px, 55px, -10px, -1121px);
        }

        @media all and (max-width: $screen-sm-max) {
            display: none;
        }
    }

    &::after {
        @include pseudo-sprite(250px, 59px, -280px, -511px);
        position: absolute;
        right: 0;
        top: 50%;
        @include translate(100%, -50%);

        @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            @include pseudo-sprite(226px, 55px, -253px, -1121px);
        }

        @media all and (max-width: $screen-sm-max) {
            display: none;
        }
    }
}

@mixin heading3() {
    color: #6b0b64;
    font-size: 55px;
    font-family: $headingFont;
    background: linear-gradient(to bottom, #78004e, #ff00a7);
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        font-size: 50px;
    }

    @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        font-size: 60px;
    }
}

@mixin heading4() {
    color: #6b0b64;
    font-size: 28px;
    font-family: $headingFont;
}

@mixin ellipsis ($lines: 1, $line-height: 24px) {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: $line-height * $lines;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: $lines;
    -moz-line-clamp: $lines;
}

@mixin contacts-sprite ($x, $y) {
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: -40px;
        width: 32px;
        height: 32px;
        border-radius: 5px;
        background: url("../images/main_sprite.png") $x $y;

        @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            left: -34px;
            top: -2px;
            width: 30px;
            height: 30px;
        }
    }
}

@mixin contacts-sprite-down ($x, $y) {
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 24px;
        height: 24px;
        background: url("../images/main_sprite.png") $x $y;

        @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            width: 22px;
            height: 22px;
        }

        @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            left: 30%;
            top: 4px;
        }
    }
}

@mixin contacts-font () {
    font-family: $mainFont;
    font-size: 20px;
    color: #6b0b64;
    font-weight: 700;

    @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        font-size: 18px;
    }

    @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        font-size: 23px;
    }
}