.wrapper {
    min-width: 320px;
    max-width: 1760px;
    margin: 0 auto;
}

.container {
    overflow: hidden;
}


//  HEADER

.navigation {
    height: 60px;
    background-color: rgb(162, 4, 137);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 3px 3px 0 rgb(162, 4, 137), inset 0 4px 0 0 #57014c;

    transition: all 1500ms;

    &.scrolled {
        background-color: rgba(162, 4, 137, 0.5);
        box-shadow: none;
        box-shadow: inset 0 4px 0 0 #57014c;

        & .navigation__link {
            color: #57014c;
            
            &:hover {
                color: #fff;
            }
        }

        & .navigation__item--active {
            & .navigation__link {
                color: #fff;
            }
        }
    }

    &__block {
        @include make-lg-column(12);
        margin: 0 auto;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        width: 100%;
        height: 60px;
        margin: 0;

    }

    &__item {
        margin: 0;
        padding: 0;

        &--active {
            & .navigation__link {
                color: #fff;
                border-color: #fff;
                background-color: rgba(162, 4, 137, 0.7);

                &:focus {
                    color: #fff;
                }
            }
        }
    }

    &__link {
        display: block;
        height: 60px;
        text-decoration: none;
        color: #ffddf5;
        font-size: 30px;
        font-family: $headingFont;
        border-top: 4px solid transparent;
        padding: 4px 8px 0;

        transition: all 100ms cubic-bezier(0.4, 0, 1, 1);

        &:hover, &:active {
            text-decoration: none;
            color: #fff;
            border-color: #fff;
            background-color: rgba(162, 4, 137, 0.7);
        }

        &:focus {
            text-decoration: none;
            color: #ffddf5;
            outline: none;
        }

    }
}

.logo {
    margin: 200px auto 100px;
    overflow: visible;

    &__container {
        text-align: center;
    }

    &__image {
        margin: 0 auto;
        -webkit-filter: drop-shadow(0 0 25px #9E0067);
        filter: drop-shadow(0 0 25px #9E0067);
        transition: all 300ms cubic-bezier(0.4, 0, 1, 1);

        &:hover {
            -webkit-filter: drop-shadow(0 0 30px #9E0067);
            filter: drop-shadow(0 0 30px #9E0067);
            transform: scale(1.07);
        }
    }
}

//  ABOUT MASTER SECTION

.about-master {
    background: url(../images/about-master.jpg) no-repeat;
    background-position: -230px 0;
    background-size: cover;
    height: 1555px;

    &__block {
        padding-bottom: 50px;
        height: 100%;
    }

    &__heading-box {
        @include make-lg-column-push(14);
        @include make-lg-column(6);

        text-align: center;
        transition: all 500ms cubic-bezier(0.4, 0, 1, 1);

        &.scrolled {
            @include make-lg-column-push(6);
        }
    }

    &__heading {
        @include heading2();

        &::after {
            /*background-image: url(../images/headings_decor_right_short.png);
            background-position: 0 0;
            width: 87px;
            height: 60px;
            background: url('../images/main_sprite.png') -680px -549px;*/
            @include pseudo-sprite(87px, 60px, -10px, -590px);
        }
    }

    &__textbox {
        @include make-lg-column(8);
        @include make-lg-column-pull(8);
        background: url(../images/about_master_textbox.png) no-repeat center center;
        margin: 200px 0 0;
        padding: 170px 210px;
        height: 760px;
        background-size: contain;

        transition: all 500ms cubic-bezier(0.4, 0, 1, 1);


        &.scrolled {
            @include make-lg-column-pull(-4);
        }

    }

    &__text {
        font-family: $mainFont;
        font-size: 24px;
        line-height: 34px;
        color: #fff;
        text-align: justify;
        @include ellipsis(10, 34px);
    }

    &__instagram {
        display: block;
        text-decoration: none;
        font-size: 30px;
        font-family: $mainFont;
        font-style: italic;
        color: #fff;
        margin: 25px 0 20px 60px;
        position: relative;

        &:hover, &:visited, &:focus, &:active {
            text-decoration: none;
            color: #fff;
        }

        &::before {
            @include pseudo-sprite(50px, 50px, -550px, -511px);
            position: absolute;
            left: -60px;
        }
    }
}

/*.instagram {
    text-align: center;
    height: 50px;
    margin: 30px 0 20px;

    &__icon {
        width: 50px;
        height: 50px;
        background: url('../images/main_sprite.png') -550px -511px;
        margin: 0 5px;
    }

    &__link {
        text-decoration: none;
        font-size: 30px;
        font-family: $mainFont;
        font-style: italic;
        color: #fff;
        
        &:hover, &:visited, &:focus, &:active {
            text-decoration: none;
            color: #fff;
        }
    }
}*/



//  WORKS GALLERY SECTION

.works-gallery {
    background-color: $mainBackgroundColor;

    &__heading-box {
        @include make-lg-column(12);
        text-align: center;
    }

    &__heading {
        @include heading2();
    }

    &__content {
    }

    &__row {
        @include make-row();

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin: 80px 0;
        position: relative;

        &:nth-child(odd) {

            &::after {
                //content: '';
                //display: block;
                //background: url("../images/gallery_separator_grad2_2.png") transparent no-repeat center center;
                @include pseudo-sprite(720px, 40px, -10px, -397px);
                position: absolute;
                //width: 700px;
                //height: 85px;
                top: 109%;
                //background-size: contain;
                left: 50%;
                @include translate(-50%,0);
            }
        }

        &:nth-child(even){
            flex-direction: row-reverse;

            &::after {
                //content: '';
                //display: block;
                //background: url("../images/gallery_separator_grad1_1.png") transparent no-repeat center center;
                @include pseudo-sprite(720px, 34px, -10px, -457px);
                position: absolute;
                //width: 700px;
                //height: 85px;
                top: 110%;
                //background-size: contain;
                left: 50%;

                @include translate(-50%,0);
            }
        }

        &:first-child {
            margin-top: 20px;
        }

        &:last-child  {
            margin-bottom: 20px;

            &::after {
                display: none;
            }
        }
    }

    &__gallery {
        @include make-lg-column(8);
        max-height: 230px;
        overflow: hidden;

    }

    &__image {
        @include make-lg-column(3);
        margin: 15px 0;
        -webkit-filter: drop-shadow(0 0 4px #904777);
        filter: drop-shadow(0 0 4px #904777);

    }

    &__name-box {
        @include make-lg-column(4);
    }

    &__name {
        @include heading3();
    }
}


//  COURSES

.courses {
    background-color: $mainBackgroundColor;

    &__heading-box {
        text-align: center;
    }

    &__heading {
        @include heading2();
    }

    &__content {

    }

    &__row {
        @include make-row();
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

    &__description {
        @include make-lg-column(6);
    }

    &__name {
        @include heading3();
        font-size: 40px;
    }

    &__text-box {
        position: relative;
        margin-top: 20px;
        padding: 35px;
        background-color: rgba(255, 0, 167, 0.05);
        border-radius: 25px;
    }

    &__text {
        @include ellipsis(7, 22px);
        font-family: $mainFont;
        font-size: 17px;
        line-height: 22px;
        color: #6b0b64;
        text-align: justify;
    }

    &__button {
        @include heading4();
        margin: 35px auto 0;
        display: block;
        position: relative;
        width: 160px;
        height: 46px;
        background-color: rgba(255, 0, 167, 0.3);
        border: transparent;
        border-radius: 5px;
        box-shadow: 0 0 10px #6b0b64;

        transition: all 100ms;

        &:focus, &:active {
            border: 1px solid #6b0b64;
            outline-color: transparent;
            box-shadow: 0 0 15px #6b0b64;
            background-color: rgba(255, 0, 167, 0.35);
        }

        &:hover {
            box-shadow: 0 0 15px #6b0b64;
            background-color: rgba(255, 0, 167, 0.35);
        }

        &::before {
            //content: '';
            //display: block;
            //background: url("../images/button_decor_left.png") transparent no-repeat left center;
            //width: 170px;
            //height: 36px;
            @include pseudo-sprite(150px, 36px, -830px, -316px);
            position: absolute;
            left: -20px;
            top: 50%;
            @include translate(-100%, -50%);
        }

        &::after {
            //content: '';
            //display: block;
            //background: url("../images/button_decor_right.png") transparent no-repeat right center;
            //width: 170px;
            //height: 36px;
            @include pseudo-sprite(150px, 36px, -830px, -260px);
            position: absolute;
            right: -20px;
            top: 50%;
            @include translate(100%, -50%);
        }
    }

    &__image-box {
        @include make-lg-column(4);
        margin-bottom: 50px;
    }

    &__image {
        width: 100%;
        border-radius: 30px;
        -webkit-filter: drop-shadow(0 0 4px #904777);
        filter: drop-shadow(0 0 6px #904777);
        padding: 10px 0;
    }
}

.program {
    display: none;
    background-color: $mainBackgroundColor;
    padding-bottom: 100px;

    &__heading {
        @include  heading3();
        font-size: 40px;
        margin: 0;
        padding: 122px 0 80px;
        position: relative;

        &::before {
            //content: '';
            //display: block;
            //background: url("../images/popup_heading_decor2.png") no-repeat;
            //width: 1022px;
            //height: 170px;
            @include pseudo-sprite(1000px, 230px, -10px, -10px);
            position: absolute;
            top: 30px;
            left: 0;
        }
    }

    &__content {
        padding: 40px 100px;
    }

    &__row {
        @include make-row();
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

    &__text {
        @include make-lg-column(9);
        font-family: $mainFont;
        font-size: 17px;
        line-height: 23px;
        text-align: justify;
        color: #6b0b64;
    }

    &__lesson-number {
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 50px;
        text-decoration: underline;
    }

    &__image-box {
        @include make-lg-column(3);
        max-height: 250px;
        padding-top: 10px;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        -webkit-filter: drop-shadow(0 0 4px #904777);
        filter: drop-shadow(0 0 4px #904777);
        margin-bottom: 20px;
    }

    &__duration {
        font-size: 25px;
        font-family: $mainFont;
        text-align: center;
        color: #6b0b64;
        margin: 110px 0 20px;
        position: relative;

        &::before {
            //content: '';
            //display: block;
            @include pseudo-sprite(800px, 117px, -10px, -260px);
            position: absolute;
            //background: transparent url("../images/popup_separator.png") no-repeat center center;
            //-webkit-background-size: contain;
            //background-size: contain;
            //width: 700px;
            //height: 100px;
            top: -160px;
            left: 50%;
            @include translate(-50%, 0);

        }
    }

    &__price {
        font-size: 30px;
        font-family: $mainFont;
        text-align: center;
        color: #ff00a7;
        text-decoration: underline;
    }
}

//  FEEDBACKS

.feedbacks {
    background-color: $mainBackgroundColor;

    &__heading-box {
        text-align: center;
    }

    &__heading {
        @include heading2();
    }

    &__content-box {
        margin: 30px 10px 10px;
        text-align: center;
        background-color: rgba(255, 0, 167, 0.1);
        padding: 20px;
        border-radius: 25px;
        box-shadow: 0 0 18px #ff00a7;
    }

    &__text {
        font-family: $mainFont;
        font-size: 20px;
        font-style: italic;
        font-weight: 700;
        letter-spacing: .4px;
        color: #6b0b64;
    }
}

//  FAQ

.faq {
    background-color: $mainBackgroundColor;

    &__heading-box {
        text-align: center;
    }

    &__heading {
        @include heading2();
    }

    &__content {
        @include make-lg-column(10);
        @include make-lg-column-push(1);
        background-color: rgba(255, 0, 167, 0.05);
        padding: 40px 70px 25px;
        border-radius: 25px;
    }

    &__block {
        font-family: $mainFont;
        font-size: 17px;
        text-align: justify;
    }

    &__question-box {
        margin-bottom: 10px;
        color: #6b0b64;

    }

    &__question {

        &:hover {
            color: #ff00a7;
            cursor: pointer;
        }
    }

    &__answer-box {
        display: none;
        padding-left: 30px;
    }

    &__answer {
        color: #6b0b64;
        font-style: italic;
    }

    &__button {
        display: none;

        &:checked ~ .faq__answer-box {
            display: block;
            margin: 10px 0 15px;
        }

        &:checked + .faq__question-box {
            color: #ff00a7;
            -webkit-box-shadow: inset 0 -1px 0 0 #ff00a7;
            -moz-box-shadow: inset 0 -1px 0 0 #ff00a7;
            box-shadow: inset 0 -2px 0 0 #ff00a7;
        }
    }
}

// CONTACTS

.contacts {
    background-color: $mainBackgroundColor;
    padding-bottom: 50px;

    &__heading-box {
        text-align: center;
    }

    &__heading {
        @include heading2();
    }

    &__content {
        @include make-lg-column(6);
        @include make-lg-column-offset(1);
    }

    &__type {
        @include make-lg-column(3);
        @include make-lg-column-offset(1);
        text-align: right;
        font-family: $mainFont;
        font-size: 20px;
        color: #6b0b64;
        font-weight: 700;
    }

    &__item {
        @include make-lg-column(7);
        @include make-lg-column-push(1);
        font-family: $mainFont;
        font-size: 20px;
        color: #6b0b64;
        font-weight: 700;
        margin-bottom: 25px;

        &--phone {
            @include contacts-sprite(-750px, -397px);
        }

        &--instagram {
            @include contacts-sprite(-958px, -397px);
        }

        &--viber {
            @include contacts-sprite(-906px, -397px);
        }

        &--telegram {
            @include contacts-sprite(-854px, -397px);
        }

        &--address {
            @include contacts-sprite(-802px, -397px);
        }
    }

    &__link {
        font-family: $mainFont;
        font-size: 20px;
        color: #6b0b64;
        font-weight: 700;

        &:hover, &:active, &:visited, &:focus {
            color: #6b0b64;
            text-decoration: none;
        }
    }

    &__map-box {
        @include make-lg-column(4);
    }
}

/* Footer
-----------------------------------------------------------------------------*/

.footer {
    background-color: #6b0b64;

    &__wrapper {
        @include make-lg-column(10);
        @include make-lg-column-push(1);
    }
}

.down-navigation {
    @include make-lg-column(3);
    margin: 20px auto;
    padding-left: 0;

    &--courses {
        @include make-lg-column(6);

        & .down-navigation__item {
            display: block;
            color: #fff;
            font-size: 16px;
            font-family: $mainFont;
            border-left: 2px solid transparent;
            padding-left: 10px;
            margin-bottom: 4px;

            &:hover, &:active {
                cursor: pointer;
                text-decoration: underline;
                color: #fff;
                border-color: #fff;
            }
        }
    }

    &--contacts {
        @include make-lg-column(3);

        & .down-navigation__list {
            box-shadow: none;
        }

        & .down-navigation__item {
            display: block;
            color: #fff;
            font-size: 16px;
            font-family: $mainFont;
            padding-left: 35px;
            margin-bottom: 20px;
            border-left: none;
            position: relative;

            &--phone {
                @include contacts-sprite-down(-750px, -439px);
            }

            &--instagram {
                @include contacts-sprite-down(-958px, -439px);
            }

            &--viber {
                @include contacts-sprite-down(-906px, -439px);
            }

            &--telegram {
                @include contacts-sprite-down(-854px, -439px);
            }
        }

        & .down-navigation__link {
            padding: 0;
            margin: 0;
            border-left: none;
        }
    }

    &__name {
        display: block;
        font-size: 17px;
        margin-bottom: 15px;
        font-family: $mainFont;
        color: #fff;
        border-bottom: 2px dotted #fff;
        padding-bottom: 5px;
        letter-spacing: .7px;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        box-shadow: inset 2px 0 0 0 rgba(255, 255, 255, 0.5);
    }

    &__item {
        margin: 0;
        padding: 0;
    }

    &__link {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-family: $mainFont;
        border-left: 2px solid transparent;
        padding-left: 10px;
        margin-bottom: 4px;

        &:hover, &:active {
            text-decoration: underline;
            color: #fff;
            border-color: #fff;
        }

        &:focus {
            text-decoration: underline;
            color: #fff;
            border-color: #fff;
            outline: none;
        }
    }
}

/* Scrollbar */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #78004E;
    background-color: rgba(242, 0, 162, 0.28);
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #78004e;
    background-color: rgba(242, 0, 162, 0.5);
    max-height: 100px;
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    background-color: rgba(242, 0, 162, 0.1);
}