@font-face {
    font-family: 'Lobster';
    src: local('Lobster'), url('../fonts/Lobster/Lobster-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather'), url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: local('Fira Sans Condensed'), url('../fonts/Fira_Sans_Condensed/FiraSansCondensed-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}