//Colors

$black: #000000;
$brownish-grey: #606060;
$steel-grey: #798285;
$black-65: rgba(#000000, 0.65); // полупрозрачный .65
$greyish: #acacac;
$white: #ffffff;
$dark-navy-blue: rgba(0, 8, 12, 0.1);
$greyblue: #62a2ad;
$bluegrey: #8dbab3;
$brownish-grey-two: #636363;
$light-grey: #f5f6f6;
$warm-grey-five: #999999;
$metallic-blue: #42717e;
$greyish-brown: #5a5a58;
$greyish-brown-two: #454545;
$warm-grey-six: #7b7b7b;
$gunmetal: #575a59;
$gunmetal-two: #5a5c5b;
$grey-opacic: rgba(0, 0, 0, 0.17);
$grey-opacic-two: rgba(0, 0, 0, 0.28);

//Fonts

$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Dosis', sans-serif;


